@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  #__next {
    @apply h-full;
  }
  html,
  body {
    @apply h-full font-sans;
  }

  body {
    @apply bg-primary-body;
  }

  .btn-primary-outline {
    @apply px-3 py-2  rounded-lg    text-white  cursor-pointer;
    position: relative;
    background: linear-gradient(
        140.14deg,
        rgba(0, 182, 191, 0.15) 0%,
        rgba(27, 22, 89, 0.1) 86.61%
      ),
      linear-gradient(321.82deg, rgb(24, 19, 77) 0%, rgb(27, 22, 89) 100%);
  }

  .btn-primary {
    @apply px-3 py-2  rounded-lg  text-white  cursor-pointer;
    background: linear-gradient(
        245.22deg,
        rgb(218, 46, 239),
        rgb(43, 106, 255),
        rgb(57, 208, 216)
      )
      100% center / 400% 100%;
  }
  .input-primary {
    @apply rounded-md w-full h-full px-2 py-2 bg-primary-dark text-white placeholder-secondary-light focus:outline-none focus:ring-0 sm:text-sm;
  }
  .bg-tag-active {
    position: relative;
    background: linear-gradient(
        245.22deg,
        rgb(218, 46, 239),
        rgb(43, 106, 255),
        rgb(57, 208, 216)
      )
      100% center / 400% 100%;
  }
  .bg-tag {
    position: relative;
    background: linear-gradient(
        140.14deg,
        rgba(0, 182, 191, 0.15) 0%,
        rgba(27, 22, 89, 0.1) 86.61%
      ),
      linear-gradient(321.82deg, rgb(24, 19, 77) 0%, rgb(27, 22, 89) 100%);
  }
  .bg-tag::before {
  }
}
